# 1. Hello World

In [1]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.llms.openai import OpenAI
from langchain.sql_database import SQLDatabase
import os
from langchain.agents.types import AgentType

In [71]:
db = SQLDatabase.from_uri("teradatasql://dbc:dbc@192.168.11.7:1025/Sales")

model = OpenAI(temperature=0, openai_api_key=os.getenv("OPENAI_API"))

toolkit = SQLDatabaseToolkit(db=db, llm=model)

agent_executor = create_sql_agent(
    llm=model,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [61]:
agent_executor.run("Number of customer")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: customer, orderdetail, product
Thought: I should query the schema of the customer table
Action: sql_db_schema
Action Input: customer
Observation:
CREATE TABLE customer (
	customer_id VARCHAR(255) CHAR SET LATIN NOT NULL,
	customer_name VARCHAR(255) CHAR SET LATIN NOT NULL,
	customer_email VARCHAR(255) CHAR SET LATIN NOT NULL,
	customer_address VARCHAR(255) CHAR SET LATIN NOT NULL,
	PRIMARY KEY (customer_id)
)

/*
3 rows from customer table:
customer_id	customer_name	customer_email	customer_address
   3	Bob Johnson	bob@example.com	789 Pine St
   4	Alice Johnson	alice@example.com	111 Pine St
   9	Harry Lee	harry@example.com	666 Oak St
*/
Thought: I should query the customer table to get the number of customers
Action: sql_db_query
Action Input: SELECT COUNT(*) FROM customer
Observation: [(10,)]
Thought: I now know the final answer
Final Answer: There are 10 customers.

> Finished chain.

'There are 10 customers.'

# 2. First Problem And solution

**Issue**

Syntax Error
```
Error: (teradatasql.OperationalError) [Version 17.20.0.31] [Session 1116]
 [Teradata Database] [Error 3706] Syntax error: expected something 
between the 'DESC' keyword and the 'LIMIT' keyword.
```

In [ ]:
agent_executor.run("Give me top 5 customer who have bill greater than 500")

**Solve**

In [3]:
prefix = 'You are an agent designed to interact with a Teradata database.\nGiven an input question, create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer.\nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results by using SELECT TOP {top_k}, note that LIMIT function does not works in Teradata DB.\nYou can order the results by a relevant column to return the most interesting examples in the database.\nNever query for all the columns from a specific table, only ask for the relevant columns given the question.\nYou have access to tools for interacting with the database.\nOnly use the below tools. Only use the information returned by the below tools to construct your final answer.\nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again.\n Note you must always use double quotation marks (" ") for column names in SQL queries for avoid syntax error\n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.\n\nIf the question does not seem related to the database, just return "I don\'t know" as the answer.\n'

In [9]:
agent_executor = create_sql_agent(
    llm=model,
    toolkit=toolkit,
    verbose=False,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    prefix=prefix
)

In [5]:
agent_executor.run("Give me top 5 customer who have bill greater than 500")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: customer, orderdetail, product
Thought: I should query the schema of the customer and orderdetail tables.
Action: sql_db_schema
Action Input: customer, orderdetail
Observation:
CREATE TABLE customer (
	customer_id VARCHAR(255) CHAR SET LATIN NOT NULL,
	customer_name VARCHAR(255) CHAR SET LATIN NOT NULL,
	customer_email VARCHAR(255) CHAR SET LATIN NOT NULL,
	customer_address VARCHAR(255) CHAR SET LATIN NOT NULL,
	PRIMARY KEY (customer_id)
)

/*
3 rows from customer table:
customer_id	customer_name	customer_email	customer_address
   1	John Doe	john@example.com	123 Main St
   9	Harry Lee	harry@example.com	666 Oak St
   4	Alice Johnson	alice@example.com	111 Pine St
*/


CREATE TABLE orderdetail (
	order_id VARCHAR(255) CHAR SET LATIN NOT NULL,
	product_id VARCHAR(255) CHAR SET LATIN NOT NULL,
	customer_id VARCHAR(255) CHAR SET LATIN NOT NULL,
	order_date DATE NOT NULL,
	order_number VARCHAR(50) CHAR SET LATIN NOT NULL,
	total_price DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (order_id)
)

/*
3 rows from orderdetail table:
order_id	product_id	customer_id	order_date	order_number	total_price
              53	 106	   3	2023-10-26	ORD              53	150.00
              42	 105	   1	2023-11-20	ORD              42	450.00
              39	 104	   1	2023-11-08	ORD              39	750.00
*/
Thought: I should query the customer and orderdetail tables to get the customers with bills greater than 500.
Action: sql_db_query
Action Input: SELECT TOP 5 customer_name, total_price FROM customer, orderdetail WHERE customer.customer_id = orderdetail.customer_id AND total_price > 500
Observation: [('Bob Johnson', Decimal('750.00')), ('John Doe', Decimal('950.00')), ('John Doe', Decimal('750.00')), ('John Doe', Decimal('850.00')), ('Bob Johnson', Decimal('950.00'))]
Thought: I now know the final answer
Final Answer: The top 5 customers with bills greater than 500 are Bob Johnson, John Doe, John Doe, John Doe, and Bob Johnson.

> Finished chain.

'The top 5 customers with bills greater than 500 are Bob Johnson, John Doe, John Doe, John Doe, and Bob Johnson.'

# 3. Test ability of Agent

In [11]:
sql_questions = [
    "1. Retrieve all columns from the customer table.",
    "2. Retrieve the names and email addresses of all customers.",
    "3. Retrieve the unique customer names from the customer table.",
    "4. List the customers who have placed an order in the last month.",
    "5. Retrieve the total number of orders placed by each customer.",
    "6. List the customers who have not placed any orders.",
    "7. Calculate the total revenue generated by each customer.",
    "8. Find the customer who has spent the most money on orders.",
    "9. Retrieve the customer who has placed the most orders in the last quarter.",
    "10. List the customers who have placed orders on consecutive days."
]

for i, question in enumerate(sql_questions):
    try:
        ans = agent_executor(question)
        print("Question {} : {}".format(i, question))
        print("Answer : ", ans.get("output"))
    except Exception as e:
        print("Question {} : {}".format(i, question))
        print("Error : ", e)

Question 0 : 1. Retrieve all columns from the customer table.
Answer :  The customer table contains customer_id, customer_name, customer_email, and customer_address columns. Examples of data in the table include customer_id 8 with name Grace Davis, customer_id 7 with name Frank Miller, and customer_id 5 with name Charlie Brown.
Question 1 : 2. Retrieve the names and email addresses of all customers.
Answer :  The names and email addresses of all customers are: Grace Davis (grace@example.com), Frank Miller (frank@example.com), Charlie Brown (charlie@example.com), Jane Smith (jane@example.com), Harry Lee (harry@example.com), Eva White (eva@example.com), John Doe (john@example.com), Ivy Smith (ivy@example.com), Alice Johnson (alice@example.com), and Bob Johnson (bob@example.com).
Question 2 : 3. Retrieve the unique customer names from the customer table.
Answer :  The unique customer names from the customer table are Grace Davis, Frank Miller, Charlie Brown, Jane Smith, Harry Lee, Eva White, John Doe, Ivy Smith, Alice Johnson, and Bob Johnson.
Question 3 : 4. List the customers who have placed an order in the last month.
Error :  This model's maximum context length is 4097 tokens, however you requested 4267 tokens (4011 in your prompt; 256 for the completion). Please reduce your prompt; or completion length.
Question 4 : 5. Retrieve the total number of orders placed by each customer.
Error :  This model's maximum context length is 4097 tokens, however you requested 4179 tokens (3923 in your prompt; 256 for the completion). Please reduce your prompt; or completion length.
Question 5 : 6. List the customers who have not placed any orders.
Answer :  John Doe, Harry Lee, Alice Johnson
Question 6 : 7. Calculate the total revenue generated by each customer.
Answer :  The total revenue generated by each customer is calculated by querying the customer, orderdetail, and product tables and using the following query:

SELECT TOP 10 customer.customer_name, SUM(orderdetail.total_price) AS total_revenue
FROM customer
INNER JOIN orderdetail ON customer.customer_id = orderdetail.customer_id
INNER JOIN product ON orderdetail.product_id = product.product_id
GROUP BY customer.customer_name
ORDER BY total_revenue DESC
Question 7 : 8. Find the customer who has spent the most money on orders.
Answer :  The customer with ID '1' has spent the most money on orders.
Question 8 : 9. Retrieve the customer who has placed the most orders in the last quarter.
Answer :  The customer who has placed the most orders in the last quarter is Frank Miller with 9 orders.
Question 9 : 10. List the customers who have placed orders on consecutive days.
Answer :  The customers who have placed orders on consecutive days are customer 10, customer 2, customer 3, customer 4, customer 10, customer 1, customer 6, and customer 9.